.sidebar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  width: 15rem;
  border-right: 1px solid #DBDBDB;
  box-shadow: 4px 0 12px rgba(0,0,0,0.05);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 2rem
}

.profile {
  padding-top: 2rem;
}

.link {
  color: black;
  font-weight: 550;
  position: relative;
  cursor: pointer;
}

.menu {
  position: absolute;
}

.icon {
  padding-right: 1rem;
}

