.card {
  display: flex;
  max-width: 56rem;
  height: 31.2rem; 
  overflow: hidden;
}

.left {
  width: 55%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right {
  width: 45%;
  padding: 1rem;
  display: flex;
  flex-direction: column; 
  overflow: hidden;   
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.userName {
  font-weight: 600;
  color: #333;
  font-size: 16px;
}

.dots {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.text {
  margin-bottom: 12px;
}


.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.userBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  font-weight: 600;
  font-size: 20px;
}


.textarea {
  width: 100%;
  height: 100px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
} 

.saveButton {
  border: none;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  letter-spacing: 1px;
  font-weight: 550;
  background-color: #0095F6;
  color: white;
  margin-top: 1rem;
}

.userBlock:hover {
  opacity: 0.7;
}