.overlay {
  z-index: 1000;
  overflow: hidden;
  width: 57rem;
  height: 35rem;
  border-radius: 12px;
  background: white;
}

.createForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #a8a8a8;
}

.title {
  margin-left: 2rem;
}

.containerRightLeft {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.left {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  border-right: 1px solid #a8a8a8;
}

.fileInput {
  display: none;
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.right {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.textarea {
  flex: 1;
  resize: none;
  border: none;
  outline: none;
  font-size: 1rem;
  font-size: 16px;
}

.error {
  color: red;
  margin-top: 0.5rem;
}

.btn {
  background-color: transparent;
  font-weight: 550;
  font-size: 16px;
  color: #0095F6;
  border: none;
  cursor: pointer;
  padding: 0.8rem;
}

.uploadPlaceholder {
  cursor: pointer;
}




@media (max-width: 1024px) {
  .overlay {
    width: 32rem; 
    height: 32rem;
  }

  .containerRightLeft {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #a8a8a8;
  }

  .right {
    padding: 1rem;
  }
}


@media (max-width: 600px) {
  .overlay {
    width: 90%;
    height: auto;
    border-radius: 8px;
  }

  .title {
    margin-left: 1rem;
  }

  .textarea {
    font-size: 0.875rem;
  }

  .btn {
    font-size: 0.875rem;
    padding: 0.6rem;
  }
}