.wrapper {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  max-width: 74rem;
  padding: 2rem;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-left: 1rem;
}

.stat {
  display: flex;
  gap: 6px;
  padding-right: 2rem;
}