.wrapper {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  max-width: 74rem;
  padding: 2rem;
}

.avatarWrapper {
  width: 12rem;     
  height: 12rem;
  border-radius: 50%; 
  padding: 4px;      
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-left: 1rem;
}

.stat {
  display: flex;
  gap: 6px;
  padding-right: 2rem;
  font-size: 1.3rem;
}

.statLabel {
  color: #555;
}





@media (max-width: 1024px) {
  .wrapper {
    gap: 2rem;
    padding: 1rem;
  }

  .container {
    gap: 1.2rem;
  }

  .contentWrapper {
    margin-left: 0;
    gap: 1rem;
  }
}


@media (max-width: 480px) {
  .avatarWrapper {
    width: 120px;
    height: 120px;
  }

  .avatar {
    width: 110px;
    height: 110px;
  }

  .wrapper {
    width: 30rem;
  }

  .contentWrapper {
    gap: 0.8rem;
  }

  .stat {
    gap: 4px;
    padding-right: 1rem;
  }
}