.container {
  width: 260px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.user {
  padding: 14px;
  cursor: pointer;
}

.user:hover {
  background: #f2f2f2;
}

.active {
  background: #e0e7ff;
}