.grid {
  width: 100%;
  max-width: 900px;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 4px; 
}

.item {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}