.inputWrapper {
  position: relative;
  width: 100%;
  padding-top: 1.5rem;
}

.input {
  width: 90%;
  padding: 0.7rem;
  font-size: 1rem;
  border: none;
  background-color: #EFEFEF;
  border-radius: 8px;
  outline: none;
}

.clearIcon {
  position: absolute;
  right: 1.7rem;
  top: 65%;
  transform: translateY(-35%);
  cursor: pointer;
  color: #888686; 
}

.noUsers {
  padding-top: 8px;
  font-weight: 600;
  color: #7c7979;
}

.userName {
  font-weight: 600;
  color: #333;
  font-size: 16px;
}